@import url('./normalize.css');
@import url('./reset.css');
@import url('./global.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: overlay;

  accent-color: var(--clr-accent);
}

a {
  color: inherit;
  text-decoration: none;
}

summary, button, input[type=radio]:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
