.Layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100vw;
  overflow-y: overlay;
}

.Layout > * {
  padding: 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Layout > header {
  text-align: center;
  flex-grow: 0;
  display: flex;
}

.Layout > header .site-title {
  font-size: 2rem;
  font-weight: 750;
  opacity: 0.8;
  filter: saturate(0.55) brightness(0.05);
  transition-properties: opacity, filter;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0, 0.9, 0.8, 0.99);
}

.Layout > header .site-title:hover {
  filter: saturate(1) brightness(1) hue-rotate(1440deg);
  opacity: 1;
}

.Layout > main {
  flex-grow: 1;
}

.Layout > :is(main, footer, header) > * {
  min-width: calc(100px + 60vw);
  width: calc(150px + 40vw);
  max-width: calc(900px + 10vw);
}

.Layout > footer {
  margin-top: 3rem;
  flex-grow: 0;
  display: flex;
  text-align: center;
}

.Layout > footer > a {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.Layout > footer > a:hover {
  opacity: 1;
}

.PageTitle {
  margin-top: 0;
}
