.Layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 100vw;
  overflow-y: overlay;
}

.Layout > * {
  padding: 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Layout > header {
  text-align: center;
  flex-grow: 0;
  display: flex;
}

.Layout > header h1 {
  font-size: 2.5rem;
  filter: saturate(0.55) brightness(0.25);
  transition: all 2s cubic-bezier(0.65, 0, 0.35, 1);
}

.Layout > header h1:hover {
  filter: saturate(1) brightness(1) hue-rotate(1080deg);
}

.Layout > main {
  flex-grow: 1;
}

.Layout > :is(main, footer, header) > * {
  min-width: calc(100px + 60vw);
  width: calc(150px + 40vw);
  max-width: calc(900px + 10vw);
}

.Layout > footer {
  flex-grow: 0;
  display: flex;
}

.PageTitle {
  margin-top: 0;
}
